# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.exe
*.suo
*.sdf
*.tlog
*.log
*.lastbuildstate
*.idb
*.pdb
*.lib
*.res
*.rb
*.manifest
*.APS
*.ini
*.chm
*.opensdf
*.txt
*.png
*.ttf
*.suo
/win32/msvc/RAGE/RAGE/Release
/win32/msvc/RAGE/RAGE/Win7
/win32/msvc/RAGE/RAGE/WinAll
